<!DOCTYPE html>
<html class="index">
  {% include "login/header.html" %}
  {% load socialaccount %}
  {% providers_media_js %}
  {% load static %}

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


 <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body style="margin-bottom: 50px;">

    {% if user.is_authenticated %}


     <div class="jumbotron" style="background: url(https://rotunda.virginia.edu/sites/rotunda.virginia.edu/files/styles/homepage_image/public/1-4-edited.jpg?itok=A9Uo5TYl) no-repeat center; height:100vh;">
   <div class="container for-about">
      <div class="text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
        
          <h2 class="text-white card-title h2 mb-4 mt-2 py-9">Welcome {{user.username}}!</h2>
          <p class="text-white mb-4 pb-9 px-md-5 mx-md-5"> </p>
        
    </div>
      </div>
    </div>



    {% block content %}
    {% endblock %}

    <nav class="navbar fixed-bottom navbar-light bg-light" >
      <div class="container-fluid">
          <p class="mx-auto">Copyright © 2021</p>
      </div>
    </nav>

    {% else %}


     <div class="jumbotron" style="background: url(https://rotunda.virginia.edu/sites/rotunda.virginia.edu/files/styles/homepage_image/public/1-4-edited.jpg?itok=A9Uo5TYl) no-repeat center; height:100vh;">
      <div class="text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
        
          <h2 class="text-white card-title h2 mb-4 mt-2 py-2">Hoos Active</h2>
          <p class="text-white mb-4 pb-2 px-md-5 mx-md-5">Welcome to Hoos Active, a simple-to-use app that makes exercising more enjoyable and social for UVA students! </p>
          <a class="btn btn-primary btn-lg" href="{% provider_login_url 'google' %}" role="button">Login</a>

        </div>
      </div>
    </div>


   
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  </body>
</html>
