<!DOCTYPE html>

<html>
    {% extends "login/header.html" %}
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Leaderboard {% endblock %}</title>
      </head>
      <body>
          {% block content %}        
          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin: 60px;">
                <h1> Global Leaderboard </h1>
                {% if sorted_rankings %}
                  <ol class="list-group list-group-numbered" style="list-style: decimal inside;">
                    {% for user, points in sorted_rankings%}
                    {% ifnotequal user None %}
                    <li class="list-group-item" >
                    <h4>{{ user }} - {{ points }}</h4><hr>
                    </li>
                    {% endifnotequal %}
                    {% endfor %}
                </ol>
                {% else %}
                    <p>No users have been created.</p>
                {% endif %}
              </div>
            </div>
          </div>
            {% endblock %}
        </body>
</html>
